CompileFlags:
  Add: [
    "-std=c++20",
    "-I../build/_deps/sdl3-src/include",
    "-I../build/_deps/glm-src"
  ]
Diagnostics:
  ClangTidy:
    Add: [
      "bugprone-*",
      "modernize-*",
      "readability-function-*"
    ]
